.inicio {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #515365;
    transition: color .3s;
    transition: background .3s;
    background: rgb(0 150 136 / 11%);
    border-radius: 10px;
    margin-bottom: 10px;
}